body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color); /* Use the CSS variable for background color */
  color: var(--text-color, #000); /* Optional: Add a text color variable */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-theme = "dark"] {
  --background-color: #0d0c0c;
  --text-color:#ffffff;
}

[data-theme = "light"] {
  --background-color: #ffffff;
  --text-color: #000000;
}
